@page "/genres/create"
@inject IGenreRepository genreRepository

<h3>CreateGenre</h3>

<GenreFormComponent Genre="genre" OnValidSubmit="Create" />

@code {
    private Genre genre = new Genre();

    private async Task Create()
    {
        try
        {
            await genreRepository.CreateGenre(genre);
        }
        catch (Exception)
        {

            throw;
        }

    }
}