<EditForm Model="Genre" OnValidSubmit="OnValidSubmit">
    <div class="form-group">
        <DataAnnotationsValidator />

        <label>Name:</label>
        <div>
            <InputText class="form-control" @bind-Value="@Genre.Name" />
            <ValidationMessage For="@(() => Genre.Name )" />
        </div>
    </div>

    <button class="btn btn-outline-dark"> Save changes </button>
</EditForm>

@code {
    [Parameter] public Genre Genre { get; set; }

    [Parameter] public EventCallback OnValidSubmit { get; set; }

}