<li>
    <b>@((MarkupString)(movie.Title))</b>
    <p>@movie.RealeaseDate.ToString("dd MMM yyyy")</p>

    @if (displayButtons)
    {
        <div>
            <button @onclick="@( () => DeleteMovie.InvokeAsync(movie) )">Delete</button>
        </div>
    }
</li>

@code {
    [Parameter] public Movie movie { get; set; }
    [Parameter] public bool displayButtons { get; set; }
    [Parameter] public EventCallback<Movie> DeleteMovie { get; set; }

}