<div class="movies-container">
    <GenericList List="Movies">
        <ElementTemplate Context="movie">
            <MovieComponent Movie="movie" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>